<!-- question box -->
<div className="flex flex-col border-Gray border-2 rounded-lg w-[42rem] px-4 py-6">
  <div className="flex justify-between">
    <p className="text-black text-lg font-bold tracking-[-0.45px]"><%= @detail[:question] %></p>
    <% if @detail[:answer].present? %>
      <%= image_tag "minus.svg", class: "w-3" %>
    <% else %>
      <%= image_tag "blue-plus.svg", class: "w-3" %>
    <% end %>
  </div>
  <p className="text-Spanish-Gray text-[1.6rem] font-normal tracking-[-0.4px] mt-2"><%= @detail[:answer] %></p>
</div>
